<br>
<div class="fir-num-text">
  <label>FIR Number: {{ query }}</label>
</div>
<div class="fir-text">
  <br>
  <label>Topic: {{ fir.topic }}</label><br>
  <label>Subject: {{ fir.subject }}</label><br>
  <label>Description: {{ fir.description }}</label><br><br>
  <label>Preparor Name: {{ fir.preparor_name }}</label><br>
  <label>Preparor Address: {{ fir.preparor_address }}</label><br>
  <label>Preparor Country: {{ fir.preparor_country }}</label><br>
  <label>Preparor Phone No.: {{ fir.preparor_phone }}</label><br>
  <label>Preparor Email: {{ fir.preparor_email }}</label><br><br>
  <label>Filer Name: {{ fir.filer_name }}</label><br>
  <label>Filer Address: {{ fir.filer_address }}</label><br>
  <label>Filer Country: {{ fir.filer_country }}</label><br>
  <label>Filer Phone No.: {{ fir.filer_phone }}</label><br>
  <label>Filer Email: {{ fir.filer_email }}</label>
</div>
