
.tot-firs-class{
    text-align: center;
}

.details-class{
    padding-left: 10%;
    padding-right: 10%;
}

.preparor-class{
    padding-left: 10%;
    padding-right: 10%;
}

.filer-class{
    padding-left: 10%;
    padding-right: 10%;
}

.submit-buttons{
    text-align: center;
}

.reset-button{
    padding-left: 50px;
}